body{
    background-image: url("arena.jpg");
}
h1{
    text-align: center;
    color:rgb(231, 33, 15);
}
.padre{
        /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.hijo{
    background:transparent;
    width: 500px;
}
.divClass{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 400px;
}
#thirdDiv{
    height:600px ;
    width: 500px; 
    background-color: rgb(100, 177, 37);
    padding: 50px;
    border: black 1px solid;
}
#spanId{
    font-size: 18;
    margin: 50px;
}